mixin new_form(task)
	!= JST['templates/tasks/_form_new']({ task: task })

//--
//- @param {string} name Icon name.
//- @param {string} [options.class] Class names separated by spaces.
//- @see http://fontawesome.io/icons/
mixin fa_icon(name, options)
	- options = options || {}
	i.fa(class="fa-#{name} #{options.class||''}")

//--
//- A task item which can include child tasks.
//- @param {object} task A task data.
mixin item(task)
	div.task-item.js-taskItem.is-task-opened(class="#{task.working ? 'is-working' : ''}")

		div.task-item-body.js-task-body
			button.btn-text.task-item-toggle.js-task-toggle
				+fa_icon('plus-square-o', { class: 'task-item-toggle-open' })
				+fa_icon('minus-square-o', { class: 'task-item-toggle-close' })
			span.btn-link.task-item-name.js-task-work
				= task.name
				+fa_icon('play-circle', { class: 'task-item-startIcon'})
				+fa_icon('stop-circle', { class: 'task-item-stopIcon'})
			a.task-item-times(href="/tasks/#{task.id}")
				| (#{task.totalSpentTimeString})
				+progress(task.progress)
			button.btn-icon.task-item-button.task-item-edit.js-task-edit
				+fa_icon('pencil-square-o')
			button.btn-icon.task-item-button.task-item-add.js-task-addChildTask
				+fa_icon('plus')

		div.task-item-formEdit.js-task-formEdit
			div.pull-right
				+delete_button(task)
			+edit_form(task)

		div.task-item-children.js-task-children
			- each child in task.children
				+item(child)

		div.task-item-formAddChild.js-task-formAddChild
			+new_form(task)

		+start_form(task)
		+stop_form(task)

//--
//- Form to start working
//- @param {object} task A task data.
mixin start_form(task)
	form.js-task-formStart(action="/tasks/#{task.id}/start", accept-charset="UTF-8", method="post", data-remote="true")
		input(name="_method", value="patch", type="hidden")

//--
//- Form to start working
//- @param {object} task A task data.
mixin stop_form(task)
	form.js-task-formStop(action="/tasks/#{task.id}/stop", accept-charset="UTF-8", method="post", data-remote="true")
		input(name="_method", value="patch", type="hidden")

//--
//- Edit Form
//- @param {object} task A task data.
mixin edit_form(task)
	form(action="/tasks/#{task.id}", accept-charset="UTF-8", method='patch', data-remote="true")
		.field
			label
				| Name
				input(type="text", name="task[name]", value=task.name, required=true)
		.field
			label
				| Spent time
				input(type="number", name="task[spent_time]", value=task.spent_time)
		.field
			label
				| Necessary time
				input(type="number", name="task[necessary_time]", value=task.necessary_time)
		.actions
			button.submit Update Tasks

//--
//- Delete button.
//- @param {object} task A task data.
mixin delete_button(task, options)
	- options = options || {}
	- label = options.label || 'Delete'
	- message = options.message || 'Are you sure?'
	a.js-task-delete(data-confirm=message, data-method="delete", data-remote="true", href="/tasks/#{task.id}")
		button
			= label

//--
//- Progress bar.
//- @param {number} progress `0` to `1`.
mixin progress(progress)
	span.task-item-progress
		span.task-item-progress-bar(style="width:#{progress*100}%")

//--------------------------------

+item(task)
